.header {
   margin-bottom: 20px;
  .ant-layout-header {
    background: -webkit-gradient(
      linear,
      0 0,
      0 bottom,
      from(#484848),
      to(#5a5a5a)
    );
    height: 120px;
    line-height: 1.5;
  }
  .header-logo div > span:first-child {
    font-size: 38px;
    color: #3197ef;
  }
  .header-logo div > span:last-child {
    font-size: 38px;
    color: #eef4f9;
  }
  .header-logo span:last-child {
    color: #eef4f9;
  }
  .header-footer {
    height: 40px;
    width: 100%;
    background-color: #444;
  }
  .header-title-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    margin-right: 20px;
    a{
      font-size: 12px;
    }
  }
  @media (max-width: 767px) {
    .header-title-item{
      width:60px;
      margin-right: 10px;
    }
  }
  .header-title-item:hover {
    background-color: #333;
  }
  .header-title-item a:hover {
    color: #56adf9;
  }
  .header-title-item a {
    text-align: center;
    width: 100%;
    height: 40px;
    color: #eef4f9;
    font-size: 15px;
    line-height: 40px;
  }
  .tag {
    margin-bottom: 5px;
  }
}
